body{
  background-color:   #f9f9fa;
  font-family: verdana, sans-serif;
  color: #000;
}

.container{
  margin: 0 auto;
  text-align: center;
}

.header{
  height: 15px;
}

h1 {
  font-size: 50px;
}

.controls{
  margin-top: 40px;
}

.checkbox{
  margin-left:40px;
}

#board-container{
  margin-top:40px;
}

.row{
  font-size: 0px;
}

.row>div{
  display: inline-block;
  font-size: 90px;
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: top;
  line-height: 100px;
}

.right{
  border-right:solid 6px #03c04a;
}

.bottom {
  border-bottom: solid 6px #03c04a;
}

#reset-game {
  background-color:  #f9f9fa;
   color: black;
   padding: 5px 30px;
   text-align: center;
   font-size: 16px;
   margin: 55px;
   cursor: pointer;
}

.inline-block {
  display: inline-block;
}

.disable {
  pointer-events: none;
}

.hide {
  display: none;
}
